/* reverting the default values*/
*{
    all:revert;
    font-family: Arial, Helvetica, sans-serif;
    margin:0 0;
    padding: 0 0;
    color: black;
   
}
/*for the logo*/
.image-responsive{
    width:100%;
}
/*for the logo div layout*/
.logo{
    float:left;
    margin:2% -18%;
    width:10%;
}
/*Navigation bar on the top*/
.container{
    width:80%;
    margin:1% 18%;
}
.text-right{
    justify-content: right;
    text-align: right;
}
.navbar{
    line-height: 40px; 
}
.navbar ul{  
    list-style-type: none;
    width: 700px;;
    float: right;
}
.navbar ul li{
    float:right;
    padding:2% 3%;
    font-weight: bold;
}
.navbar ul li a{
    font-family: arial;
    color:rgb(14, 13, 13);
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 17px;
    font-weight: 600;
}
.navbar ul li a:hover{
    color:white;
}
/*for the 'order Online' button*/
.btn1{
    border-radius: 10px;
    background-color: orange;
    padding: 3px 5px;
    border: none;
    cursor:pointer;
    transition: all 0.5s;
    font-weight: bold;
}

.btn1:hover{
    background-color:rgb(247, 242, 247);
    color:black;
    font-weight: bolder;
}
.button, .dropdown-menu{
    margin: 10px auto;
}
.dropdown{
    text-align: center;
}
.dropdown-menu{
    width: 94px;
    text-align: left;
}
/*Login form*/
.login{
    margin: 4% 68%;
    padding:3%;
    display:flex;
	justify-content: center; 
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
label{
    color:white;
}
form{
	width: 500px;
    justify-content: center;
	padding: 30px;
	/*background: rgb(238, 141, 14);*/
	border-radius: 15px;
    background:linear-gradient(to top, rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8)  50%);
}
h2 {
    color:white;
    width:450px;
    font-family: sans-serif;
	text-align: center;
}
input {
    display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
button {
	float: right;
	background:#ff7200;
	padding: 10px 15px;
	color: rgb(8, 7, 7);
    font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
    cursor:pointer;
    transition: all 0.5s;
}
button:hover{
	opacity: 7;
    background-color: #eee;
}
h1 {
	text-align: center;
	color: #fff;
}
.admin{
    background-color: #ff7200;
    color:black;
    font-weight: bold;
    float:center;
    padding:3% 10%;
    margin:3% 38%;
    align-items: center;
    align-content: center;
    cursor:pointer;
    transition: all 0.5s;
}
/*button format*/
.admin:hover{
    opacity: 7;
    background-color:#eee;
}
/*form icons*/

